---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import meImg from "@/assets/me.jpeg";

const meta = {
	title: "About",
	description: "I'm Jonghak Seo. I'm a software engineer who loves OSS ecosystem.",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">About</h1>
	<div class="grid grid-cols-3 gap-4">
		<div class="flex justify-center">
			<Image
				src={meImg}
				alt="Jonghak Seo's photo"
				loading="eager"
				fetchpriority="high"
				style="border-radius: 16px"
			/>
		</div>
		<div class="col-span-2">
			<p>Hi, I'm Jonghak Seo.</p>
			<p>I'm a software engineer who loves the OSS ecosystem and is motivated by helping others.</p>
		</div>
	</div>
</PageLayout>
