---

---

<script>
	const initialIsDark = document.documentElement.classList.contains("dark");
	document.addEventListener("theme-change", (e) => {
		loadUtterancesScript(e.detail.theme === "dark");
	});

	loadUtterancesScript(initialIsDark);

	function loadUtterancesScript(isDark) {
		document.querySelector(".utterances").remove();

		const script = document.createElement("script");
		script.src = "https://utteranc.es/client.js";
		script.async = true;
		script.setAttribute("repo", "Jonghakseo/jonghakseo.github.io");
		script.setAttribute("issue-term", "pathname");
		script.setAttribute("theme", isDark ? "dark-blue" : "boxy-light");
		script.setAttribute("crossorigin", "anonymous");

		document.body.appendChild(script);
	}
</script>

<div class="utterances">
	<iframe class="utterances-frame"></iframe>
</div>
